{% extends 'base_page.html' %}
{% block page_title %} Upload Products{% endblock page_title %}
{% block body_content %}
{% load static %}
{% if Product %}
<div class="col-12 shadow-sm py-1 px-auto mb-1">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover mx-auto px-auto">
                <thead bgcolor="#969cad">
                    <tr>
                        <th>Product ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quatity</th>
                        <th>Date Posted</th>
                        <th>Pictures</th>
                        <th>Post User</th>
                        <th>Status</th>
                        <th>Modifile</th>
                        <th>Delete</th>
                </thead>
                {% for prod in product %}

                </tr>
                <td><span style="color:#969cad" class="font-weight-bold">
                        {{prod.product_id}}
                    </span></td>
                <td>
                    <span style="color: #0e399c;" class="font-weight-bold">
                        {{prod.product_name}}
                    </span>
                </td>
                <td>
                    <span style="color: #0e399c;" class="font-weight-bold">
                        {{prod.Description}}
                    </span>
                </td>
                <td>
                    <span style="color: #0e399c;" class="font-weight-bold">
                        {{prod.price}}
                    </span>
                </td>
                <td>
                    <span style="color: #0e399c;" class="font-weight-bold">
                        {{prod.quatity}}
                    </span>
                </td>
                <td>
                    <span style="color: #0e399c;" class="font-weight-bold">
                        {{prod.date_uploaded}}
                    </span>
                </td>
                <td>
                    <span style="color: #0e399c;" class="font-weight-bold">
                        <img src="{{prod.profile_picture.url}}" alt="img" width="80px" height="100px" />
                    </span>
                </td>
                <td>
                    <span style="color: #0e399c;" class="font-weight-bold">
                        <a href="{% url 'user_profile' prod.user_id %}">
                            <span style="color: #0e399c;" class="font-weight-bold">
                                {{prod.user_id}}
                            </span>
                        </a>
                    </span>
                </td>
                <td>
                    <a href="{% url 'edit_prod' prod.product_id %}">
                        <span style="color: #0e399c;" class="font-weight-bold">
                            Edit
                        </span>
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete_prod' prod.product_id %}">
                        <span style="color: #0e399c;" class="font-weight-bold">
                            Delete
                        </span>
                    </a>
                </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endif %}
{% endblock body_content %}